<html lang = "en">
<head>
	<meta charset = "utf - 8">

	<title>Nav Bar Assignment</title>
	<meta name = "description" content = "Nav Bar Assignment"
	<meta name = "author" content = "Site Project">

	<link rel = "stylesheet" href = "css/style.css">

</head>

<body>
	<div id = "navbar">
		<ul id = "socials">
			<li> <a href = "https://www.facebook.com/afkoala"> <img src = "./img/fb.png" alt = "facebook logo"> </a> </li>
			<li> <a href = "https://www.instagram.com/afkoala/"> <img src = "./img/insta.png" alt = "instagram logo"> </a> </li>
			<li> <a href = "https://twitter.com/AFKoalaa"> <img src = "./twitter.png" alt = "twitter logo"> </a> </li>
		</ul>
	</div>

	<div id = "footer">
		<ul id = "mmlink">

		<li> <a href = "http://www.minedminds.org" target = "_blank"> <img src = "./img/mm.png" alt = "minedminds logo"> </a> </li>
		Mined Minds
		</ul>
	</div>
</body>

</html>